* {
    padding: 0;
    margin: 0;
}

canvas {
    background-color: pink;
    padding: 0;
    margin: 0;
}

td {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

tr {
    padding: 0;
    margin: 0;
}
